.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
 main{
  display: inline-flex;
  height: 100%;
 }
  