
.mainContent{
    background-color: white;
    border: 1px solid;
    text-align: center;
    width:100%;
    padding: 30px;

}
.panNo{
    text-align: left;
    font-weight: bold;
}
.header{
    
}
.billTo{
    display: flex;
}
.billDate{
    text-align: right;
    width: 90%;
}
.plant{
    text-align: left;
    font-weight: 600;
}
.plant select{
    font-weight: 600;
    width: 30%;
    height: 50px;
    font-size: large;
    border: none;
}
.body{
    width: 60%;
    text-align: left;
}
td{
    padding: 5px 8px;
    margin: 0px;
    border:1px solid #ddd 
}
input{
    width: 100px;
    border: none;
}
.tablefoot {
    
}
.inword{
    font-weight: bold;
}
.declaration{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
.sign{
    margin-top: 50px;
    text-align: right;
}
/* .srNo{
    width:100px;
    
}
.date{
    width: 50px;
} */